<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
    <%= ajaxful_rating_style %>
    <%= ajaxful_rating_script %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <h1><a href="http://github.com/kamui/ajaxful_rating_jquery">ajaxful_rating_jquery</a> Demo</h1>
      <p>You need to <%= link_to "create a user account", signup_path %> to rate cars and other users.</p>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <% if logged_in? %>
        Welcome <%= current_user.username %>! Not you?
        <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to "Sign up", signup_path %> or
        <%= link_to "log in", login_path %>.
      <% end %>
      | <%= link_to "Cars", cars_path %>
      | <%= link_to "Users", users_path %>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
    </div>
  </body>
</html>
